@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Welcome to First ASP.NET MVC Web Application</h2>
    </div>
</body>
</html>
