<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!--user-defined settings-->
	<appSettings>
		<add key="StartTime" value="08:33 PM "/>
		<add key="callDuration" value="2"/>
		<add key="CallType" value="1"/>
		<add key="FromMail" value="****"/>
		<add key="Password" value="****"/>
		<add key="Host" value="smtpout.secureserver.net"/>
	</appSettings>
</configuration>