<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
		<add name="employeeDB" connectionString="data source=SUPRA-PRIYANSHU; database=Employee; integrated security=SSPI"/>
	</connectionStrings>
    <!--<connectionStrings>
        <add name="WindowsFormsApp_Test1.Properties.Settings.EmployeeConnectionString"
            connectionString="Data Source=.;Initial Catalog=Employee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>