@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Null Reference</title>
</head>
<body>
    <hgroup>
        <h1>Error Occured </h1>
        <h2>Null reference Exception occurred</h2>
    </hgroup>
</body>
</html>